/* gray-500    #8C94A3 
    background   #1D2026
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
}

.primary-btn {
  background-color: #ff6636;
  color: #ffeee8;
  padding: 10px 20px;
  border: none;
}

.secondary-btn {
  background-color: #ffeee8;
  color: #ff6636;
  padding: 10px 20px;
  border: none;
}

.top-header {
  background-color: #1d2026;
  color: #8c94a3;
  height: 52px;
  width: 100%;
}

.top-header > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-header > section > nav {
  display: flex;
  gap: 12px;
}
.top-header > section > nav a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.top-header > section > div {
  display: flex;
  gap: 12px;
}
.top-header > section > div select {
  background-color: inherit;
  color: inherit;
}

@media screen and (max-width: 600px) {
  .top-header > section > nav {
    gap: 8px;
    justify-content: center;
    width: 100%;
  }
  .top-header > section > nav a {
    font-size: 12px;
    white-space: nowrap;
  }
  .top-header > section > div {
    display: none;
  }
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  height: 60px;
  width: 100%;
}

.main-navbar > .header-first-sec {
  display: flex;
  align-items: center;
  gap: 12px;
}
.main-navbar > .header-first-sec select {
  outline: none;
  padding: 4px;
}

.main-navbar > .header-first-sec .input-search {
  position: relative;
}
.header-first-sec .input-search img {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}
.header-first-sec .input-search input {
  padding: 4px 24px;
  outline: none;
}

.header-first-sec .input-search input:focus {
  border: 1px solid #ff6636;
}
.main-navbar > .header-second-sec {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media screen and (max-width: 768px) {
  .header-first-sec .input-search {
    display: none;
  }

  .main-navbar > .header-second-sec {
    display: none;
  }
}

.main-navbar > .mobile-second-sec {
  display: none;
}

@media screen and (max-width: 768px) {
  .main-navbar > .mobile-second-sec {
    display: flex;
    gap: 6px;
  }
}
